name: Publish

on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch to publish from'
        required: true
        type: string
    secrets:
      NPM_TOKEN:
        required: true
  pull_request:
    types: [closed]
    branches:
      - main

env:
  PACKAGE_NAME: wa-kitchen
  PACKAGE_TAG: latest
  BRANCH: ${{ inputs.branch || github.ref }}
  OUT_DIR: ${{ github.workspace }}/out
  DIST_DIR: ${{ github.workspace }}/out/dist

permissions:
  id-token: write
  contents: write
  checks: write
  pull-requests: write

jobs:
  publish:
    if: github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'preview/')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BRANCH }}

      - name: Set up environment
        run: |
          git config --global user.name "GitHub Actions [Bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          VERSION=$(cat out/.version)
          BUILD=$(cat out/.build)

          PACKAGE_VERSION=$VERSION

          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "BUILD=$BUILD" >> $GITHUB_ENV
          echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV

          echo "Publishing version: $PACKAGE_VERSION"

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: Generate packages
        id: generate_packages
        run: bash generate.sh
        working-directory: tools/packager

      - name: Publish packages
        id: publish_packages
        run: bash publish.sh
        working-directory: tools/packager
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Deprecate preview versions
        run: bash .github/scripts/deprecate-preview.sh
        continue-on-error: true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create Git tag
        run: |
          git tag -a "v${{ env.VERSION }}" -m "WhatsApp Web v${{ env.VERSION }}"
          git push origin "v${{ env.VERSION }}"
